{% extends "base.html" %}
{% block title %}Confirmation Form{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
        <h3>Order details:</h3>
        <form method="{{ result['method'] }}" action="{{ result['url'] }}">

            {% for k, v in result['data'].items() %}

                {% if not k in ['sign', 'lang', 'referer'] %}
                    <div class="confirm-order"><span>{{ k }}: </span> {{ v }} <input type="hidden" name="{{ k }}" value="{{ v }}" /></div>
                {% endif %}

                {% if k in ['sign', 'lang', 'referer'] %}
                    <input type="hidden" name="{{ k }}" value="{{ v }}" />
                {% endif %}

            {% endfor %}

            <input type="submit" value="Submit">

        </form>
{% endblock %}