{% extends "base.html" %}
{% block title %}Payment Form{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
        <form action="{{ url_for('get_output') }}" method="post">
            <label for="amount">
                <span>Amount:
                    <span class="required">*</span>
                </span>
                <input type="number" name="amount" placeholder="0.00" min="0.00" step="0.01" class="input-field" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)">
            </label>
            <label for="currency">
                <span>Currency:
                    <span class="required">*</span>
                </span>
                <select required name="currency" class="select-field">
                    <option value="" disabled selected>Choose a currency</option>
                    <option value="840">USD</option>
                    <option value="978">EUR</option>
                    <option value="643">RUB</option>
                </select>
            </label>
            <label for="description">
                <span>Description:
                </span>
                <textarea name="description" placeholder="Test Order" class="textarea-field">Order details</textarea>
            </label>
            <label><input type="submit" value="Submit"></label>
        </form>
{% endblock %}